parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Command/Make/MakeAdminSectionCommand.php  # requires symfony/maker-bundle at analyse time
        - src/Utils/ImageLoaderTrait.php                 # integration trait implemented by host applications
    ignoreErrors:
        - '#Call to an undefined method object::getId\(\)#'
        # Doctrine entity IDs are assigned by the database, not by PHP code
        - { message: '#Property .+::\$id \(int\|null\) is never assigned int#', path: src/Entity/ }

